<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Enter your personal details</h2>

<a href="{% url 'My_index' %}">Home</a>
<a href="{% url 'My_about' %}">About</a>
<a href="{% url 'My_Contact' %}">Contact</a>
<a href="{% url 'My_gallery' %}">Gallery</a>
<a href="{% url 'My_Login' %}">Login</a>
<a href="{% url 'My_Personal' %}">Personal</a>
<a href="{% url 'My_Services' %}">Services</a>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem harum laboriosam quas tenetur unde, voluptate! Assumenda consequuntur eaque eos est facere fugiat iste, modi nostrum numquam perferendis quae sequi.</span><span>Aspernatur corporis debitis esse, excepturi harum id libero modi molestias nam necessitatibus nesciunt obcaecati, officiis omnis quam quas reprehenderit soluta sunt voluptatibus. Atque aut error, eveniet ipsum non quos velit.</span><span>Commodi consequatur, est excepturi explicabo ipsa iure minima neque quod sint soluta. Asperiores dolor dolorem ducimus iure numquam officiis optio praesentium quasi, quis quo reiciendis repudiandae sit veritatis, voluptates voluptatum.</span><span>Ab aliquid amet asperiores atque aut consequatur ea impedit ipsam, itaque maiores minus non nostrum optio porro praesentium quibusdam rerum sapiente ullam unde veritatis voluptate voluptatem voluptatum. Ab odit, qui.</span></p>
</body>
</html>